.arrow-double-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
}

.arrow {
  width: 100px;
  height: 45px; /* Setengah dari container */
}

.white {
  stroke: white;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.gray {
  stroke: #b0b0b0;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

/* Hover effects */
.arrow:hover {
  transform: scale(1.5);
}

.arrow.white:hover {
  stroke: #e0e0e0;
}

.arrow.gray:hover {
  stroke: #8c8c8c;
}
