.olshop {
  height: 100%;
  width: 100%;
  background: greenyellow;
  overflow-y: auto;
}

.header-olshop {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  background: yellow;
}

.title-olshop {
  display: block;
  width: 100%;
  text-align: center;
}

.cart {
  display: flex;
  /* position: relative; */
  right: 10px;
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
