.card-modal {
  background: transparent;
  width: 350px;
  padding: 20px;
  cursor: pointer;
}

.cover-modal {
  background: white;
  width: 350px;
  height: 140px;
}

.modal-image {
  width: 350px;
  height: 140px;
}

.title-modal,
.desc-modal {
  text-align: center;
}

.card-modal:hover {
  transform: scale(1.05);
}

/* ============ */

.modal {
  position: absolute;
  top: 60px;
  left: 200px;
  right: 200px;
  bottom: 60px;
  background: #f1f1f1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.8);
}

.btn-close {
  /* height: 30px;
  width: 75px; */
  height: 35px;
  width: 70px;
  background-color: rgb(71, 71, 75);
  color: #f1f1f1;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
